<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Execution-BNY-Test-Suite">
    <test name="Siddhi-execution-bny-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.extension.siddhi.execution.bny.aggregate.TestCaseOfBNYAggregateFunction"/>
            <class name="org.wso2.extension.siddhi.execution.bny.function.TestCaseOfBNYFunction"/>
            <class name="org.wso2.extension.siddhi.execution.bny.streamfunction.TestCaseOfBNYStreamFunction"/>
            <class name="org.wso2.extension.siddhi.execution.bny.streamprocessor.TestCaseOfBNYStreamProcessor"/>
            <class name="org.wso2.extension.siddhi.execution.bny.window.TestCaseOfBNYWindow"/>
        </classes>
    </test>
</suite>